.pList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pListItem {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.pListTitles > h1 {
    font-size: 16px;
}

.pListTitles > h2 {
    font-size: 14px;
    font-weight: 300;
}