.fp {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.fpItem {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.fpImg {
    width: 100%;
}

.fpName {
    font-weight: bold;
}

.fpCity {
    font-weight: 300;
}

.fpPrice {
    font-weight: 500;
}

.fpRating > button {
    background-color: red;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}

.fpRating > span {
    font-size: 14px;
}